body{
    width: 80%;
    margin: auto;
}
#parent{
   display: flex;
   justify-content: center;
   gap: 700px;

}
div>img{
    width:  35px;
    height: 28px;
    margin-top: 20px;
}
.sp{
    display: flex;
    gap: 15px;
}
/* #parent>.rk{
    margin-top: 25px;
} */
#child{
    text-align: center;

}
#child>h2{
    font-size: 50px;
    color: rgb(51,63,72);
}
#child .ps{
     font-size: 20px;
     border: none;
     background-color: rgb(51,63,72);
     color: aliceblue;
     width: 400px;
     height: 60px;
}
#psb{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
#fash{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
#fash>div{
    display: flex;
    gap: 20px;
}
#email{
    width: 400px;
    height: 30px;
}
.k{
    margin-left: 90px;
}


#fash>img{
    width: 500px;
}
#cartprod{
    width: 80%;
    display: flex;
    gap: 30px;
    margin: auto;
   justify-content: center;
   /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
   margin-bottom: 20px;
}
#cartprod>img{
    width: 160px;
    height: 180px;

}
.clas>h3{
    width:60%;

}
.clas p{
width: 35px;
}
#rsk{

margin-left: -160px;
}
h2{
text-align: center;
}
#cardval>p{
    font-size: 40px;
    font-weight: bold;
}
#cartval>p>span{
font-size: 40px;
}
#btn{
background-color: black;
color: aliceblue;
border: none;
}
#delbtn{
background-color: black;
color: white;
border: none;
/* border-radius: 10px; */
width: 50px;
height: 20px;

}
#cardval>p{
text-align: center;
}
#Offer{

width: 100%;
height: 180px;
margin: auto;
/* border: 1px solid ; */
display: flex;
justify-content: center;

}
#Offer>div>p{
  font-weight: bold;
  font-size: 25px;
}

#Offer>div>button{
background-color: black;
color: white;
font-size: 15px;
}
.container4 {
    border: 1px solid #f2f2f5;
    /* width: 53%; */
    font-family: Whitney,Helvetica,Arial,sans-serif!important;
    /* text-rendering: optimizeLegibility; */
    font-size: 13px;
    margin: 30px 20px 20px 80px;
    padding-left: 10px;
    color: white;
    background-color: black;
}
.btn {
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
}