body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}

.checkout {
    display: flex;
}

.box-col {
    height: auto;
    background-color: white;
    margin: 20px;
    padding: 10px 10px;
    padding-left: 20px;
    border: 1px solid lightgrey;

}

.checkout-form {
    width: 55%;
    margin-left: 10%;
}

.order-details {
    /* background-color: teal; */
    width: 24%;
    margin-bottom: 2%;
}

.checkout-header-col {
    font-size: 15px;
    font-weight: bold;
    height: auto;
    background-color: white;
    text-align: center;
    padding-left: 20px;
    border: 1px solid lightgrey;
    margin: -10px -10px 10px -10px;

}

.username {
    display: flex;
    justify-content: center;
}

.firstname {
    width: 100%;
    margin: 6px;
    /* background-color: magenta; */

}

.lastname {
    width: 100%;
    margin: 6px;
    /* background-color: green; */
}

.firstname-zipcode {
    width: 50%;
    margin: 6px
}

.lastname-citytown {
    width: 50%;
    margin: 6px;
}

.inputfield {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}



.inputfield-full {
    border: none;
    border-bottom: 1px solid black;
    width: 99%;
    margin: 10px;

}

#country-style {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 10px;
}

#billing-country-style {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 10px;
}

#country-style2 {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 10px;
}

#billing-country-style2 {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 10px;
}

.button-style {
    border: 0;
    line-height: 3;
    padding: 0 26px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(11, 11, 11);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    margin-top: 4%;
    /* box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6); */
}

.button-style:hover {
    background-color: rgb(92, 87, 87);
}

#inputfield-giftcard-number {
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
}

#promo-checkout-button {
    border: 0;
    /* line-height: 3; */
    padding: 0 26px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(11, 11, 11);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    margin-top: 1%;

}

#promo-checkout-button:hover {
    background-color: rgb(92, 87, 87);
}

#button-style-upi {
    border: 0;
    line-height: 2;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgb(11, 11, 11);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    margin-top: 2%;
    /* box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6); */
}

#button-style-upi:hover {
    background-color: rgb(92, 87, 87);
}

.icon-container-payment {
    margin-bottom: 20px;
    /* padding: 7px 0; */
    font-size: 30px;
}

.inputfield-cvv {
    margin: 28px;
    border: none;
    border-bottom: 1px solid black;
    width: 50%;
}

#cvv-text {
    margin-left: 20px;
}

.payment-card-col1 {
    margin-right: 15px;
}

.payment-card-col2 {
    margin-left: 15px;
}

.upi-button-col {
    font-size: 15px;
}

.input {
    margin: .4rem;
}

.orderconfirm-container {
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 10%;
    padding-bottom: 20px;
    /* background-color: green; */
}

#order-col1-color {
    color: black;
}

#new {
    color: white;
    font-size: large;
}

.accordion {
    /* background-color: #eee; */
    /* color: #444; */
    cursor: pointer;
    /* padding: 18px; */
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.hide {
    display: none;
}

.show {
    display: block;
}