*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerTop{
    display: flex;
    /* border: 1px solid red; */
    height: 104px;
    background-color: #18181c;
}
.left{
    color: #ffffff;
}
.para{
    margin-top: 25px;
}
.same456{
    margin-left: 75px;
    line-height: 25px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}
.right{
    margin-left: 445px;

}
.spanId{
    color: white;
    margin-top: 30px;
    font-size: 13px;
    margin-left: 141px;
    /* font-weight: bold; */
}
.anc{
    color: #ffffff;
    margin-left: 142px;
    margin-top: -15px;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
    /* /* display: inline; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.anc1{
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 207px;
    margin-top: -19px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
u{
    margin-left: 3px;
    cursor: pointer;
}
.containerBottom{
    display: flex;
    /* border: 1px solid black; */
    height: 184px;
    justify-content: space-evenly;
    margin-top: 41px;
}
.box{
    /* border: 1px solid red; */
    width: 14%;
}
img{
    height: 86%;
    width: 99%;
}
.bottm1{
    margin-top: 9px;
    margin-left: 27px;
    /* text-align: center; */
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    /* text-decoration: underline; */
    border-bottom: 1px solid currentColor;
    display: inline;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
}
.bottm2{
    margin-top: 9px;
    margin-left: 36px;
    /* text-align: center; */
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    /* text-decoration: underline; */
    border-bottom: 1px solid currentColor;
    display: inline;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
}
.bottm3{
    margin-top: 9px;
    margin-left: 61px;
    /* text-align: center; */
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    /* text-decoration: underline; */
    border-bottom: 1px solid currentColor;
    display: inline;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
}
.bottm4{
    margin-top: 9px;
    margin-left: 44px;
    /* text-align: center; */
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    /* text-decoration: underline; */
    border-bottom: 1px solid currentColor;
    display: inline;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
}
.bottm5{
    margin-top: 9px;
    margin-left: 28px;
    /* text-align: center; */
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    /* text-decoration: underline; */
    border-bottom: 1px solid currentColor;
    display: inline;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
}
.bottm6{
    margin-top: 9px;
    margin-left: 48px;
    /* text-align: center; */
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    /* text-decoration: underline; */
    border-bottom: 1px solid currentColor;
    display: inline;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
}
.imgContainer{
    margin-top: 53px;
    width: 100%;
    height: 417px;
    cursor: pointer;
}
.blank{
    margin-top: 81px;
}
.comm{
    position:absolute;
}
.header121{
    margin-top: 171px;
    margin-left: 541px;
    font-size: 47px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
}
.para121{
    margin-top: 226px;
    margin-left: 541px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}
.btn121{
    margin-top: 258px;
    margin-left: 540px;
    padding: 10px;
    width: 139px;
    height: 41px;
    border: 1px solid #ffffff;
    border-radius: 1px;
    color: #0e1c28;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 3px;
}
.btn121:hover{
    background-color: #d6d6d6;
}
.commCards{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
}
.box121{
    /* border: 1px solid green; */
    height: 355px;
    width: 259px;
}
.head121{
    margin-top: 6px;
    text-align: center;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
}
.para124{
    margin-top: 12px;
/* text-align: center; */
    font-size: 15px;
    border-bottom: 1px solid black;
    display: inline-block;
    margin-left: 37px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.qwe12{
    line-height: 26px;
    /* border-bottom: 1px solid black; */
    /* margin-left: 80px; */
}
.vom{
    margin-left: 71px;
}
.vom1{
    margin-left: 80px;
}
.ind{
    font-weight: lighter;
}
.fristpra{
    margin-left: 31px;
}
.comm1{
    margin-bottom: 0px;
    text-align: center;
    font-weight: bolder;
    font-size: 26px;
    margin-top: 63px;
    /* position: relative; */
    padding: 53px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.community{
    background-color: #f5f5f5;
    height: 550px;
}