*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container645{
    display: flex;
    /* border: 1px dotted red; */
    justify-content: space-evenly;
    margin-top: -64px;
}
.box645{
    /* border: 1px solid blue; */
    height: 363px;
    width: 15.7%;
}
.img645{
    height: 100%;
    width: 100%;
}
.para645{
    text-align: center;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* font-size: 16px; */
    letter-spacing: 2px;
    text-decoration: underline;
    cursor: pointer;
}
#top645{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;
}
.head1645{
    font-size: 47px;
    line-height: 47px;
    font-family: 'Montserrat', sans-serif;
}
.btn645{
    padding: 10px;
    width: 142px;
    border: 2px solid #454545;
    border-radius: 2px;
    height: 41px;
    margin-top: 6px;
    margin-left: 4px;
    background-color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.btn645:hover{
    background-color: #454545;
    color: #ffffff;
    transition: color 0.1s linear;
}