body{
    font-family: 'Arial';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#topHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 40px;
    width: 100%;
    padding: 0 50px 0px 50px;
}

#topHeader p{
    font-size: 13.5px;
    color: #ffffff;
    text-decoration: underline;
}
span{
    color: #ffffff;
}




.anchorLink{
    font-weight: bold;
    font-size: 12px;
    margin-left: 2px;
}
#anc{
    margin-left: -3px;
}
.access{
    margin-left: 590px;
    font-weight: bold;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.expressHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    /* border: 2px dotted red; */
    padding: 0 50px 0px 50px;
    
}
#details{
    text-decoration-color: #eedac4;
}



.icons{
    display: flex;
    justify-content: space-around;

}
p>a{
    margin:0 10px 0 10px;
}



.hover-underline-animation{
    display: inline-block;
    position: relative;
    color: #4b4b4b;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#212222;
    transform-origin: bottom ;
    transition: transform 0.50s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}
.hover-underline-animation:hover{
    cursor: pointer;
}
/* #secondaryNav{
    
     height: 38px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-left: 13px;
    align-items: center;
    margin-top: 24px; 
} */
.qwe{
    text-decoration: none;
    /* margin-right: 34px; */
    color: #17171d;
    /* height: 38px; */
}
.mobileLink{
    display: block;
}
.svgStore{
    width: 120px;
    border: 1px solid black;
    border-radius: 1px;
    /* margin-left: 12px; */
}
.svgIcons{
    width: 30px;
    margin-right: 8px;
    margin-top: 19px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    
    height: 100%;
}
.part1{
    margin-top: 128px;
    
}
.googleBtn{
    margin-left: 26px;
}
.mobileLink{
    margin: 29px 0 19px 0;
    /* text-decoration: none; */
    color: #000000;
    /* border-bottom: 2px; */
    font-size: 12px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.footer--app-badge-button{
    text-decoration: none;
}
ul{
    list-style: none;
}
.content{
    margin-top: 123px;
}
.footerLink{
    text-decoration: none;
    color: #696969;
}
.head4{
    margin-top: 17px;
}
.listStyle{
    margin: 3px 0 3px 0;
}
.footerLink:hover{
    text-decoration: underline;
    color:#17171d;
}

.part1{
padding:auto;
}


header{
width:100%;
/* border: 1px solid rgba(162, 161, 161, 0.474); */
height: 70px;
position: relative;
}
.containerr{
display:flex;
justify-content: center;
width:80%;
margin :auto;





}
nav>ul{
margin: auto;
display: flex;
justify-content: space-around;


}
nav>ul>li{
padding: 20px 20px;
list-style: none;
}

nav>ul>li>a{
text-decoration: none;


color: black;
}

.megamenu{
position: absolute;
top:70%;
left:0px;
width:100%;
opacity: 0;
visibility: hidden;
background-color: white;
display: flex;
justify-content:center;
transition: 0.3s;
height:400px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

/* ma */
/* padding: 10%; */
/* padding: 0 10%; */
padding-left: 10%;


}
nav>ul>li:hover .megamenu{
opacity: 100;
visibility: visible;
top:100%;

}

.megamenuitems h5{
padding: 4px 30px;
}

.megamenuitems ul li{
list-style: none;
font-size: 15px;
color: #696969;
padding: 4px 30px;
/* width: 50%; */
}
.megamenuitems h3{
padding: 60px;

}
#megamenuimg{
width:50%;
}

nav>ul>li>a{
font-weight: 600;
}





@media only screen and (min-width: 0px) and (max-width: 980px) {

.secondaryNav{
  display: none;
  }

  .content {
    display: none;

  }
  .containerr{
    display: none;
  }
 
}

@media only screen and (min-width: 421px) and (max-width: 1080px) {

    .smallHeader{
display: none;
}

#topHeader{
display: none;
}


}




/* small screens */
@media only screen and (min-width: 0px) and (max-width: 520px) {
.smallHeader{
display: none;
}
#topHeader{
display: none;
}

  
}